<h2 mat-dialog-title>Registrar Institucion </h2>
<form [formGroup]="form" (ngSubmit)="addEditarInstitucion()" >
    <mat-dialog-content>

        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" formControlName="nombre">
        </mat-form-field>
        <div class="error">
            <span *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched ">El nombre es un campo <strong>requerido</strong></span>
        </div>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="tipo">
              <mat-option  *ngFor="let ins of institutions" value="{{ins}}">{{ins}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="error">
            <span *ngIf="form.get('tipo')?.hasError('required')&& form.get('tipo')?.touched ">Seleccione un tipo es <strong>requerido</strong></span>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="button" (click)="cancelar()" mat-button>Cancelar</button>
        <button [disabled]="form.invalid" type="submit" mat-button cdkFocusInitial>Aceptar</button>
    </mat-dialog-actions>

</form>
