
<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <br>
                        <br>
                        <div class="card-header">
                            <div class="crear">
                                <input type="button" class="btn btn-crear" value="Crear" mat-raised-button
                                  (click)="agregarEditarInstitucion()" />
                              </div>
                        </div>
                        <div class="card-body">
                            <mat-form-field>
                                <mat-label>Buscar</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
                              </mat-form-field>
                          <div class="mat-elevation-z8">
                            <table  mat-table [dataSource]="dataSource" matSort>
                          
                              <ng-container matColumnDef="Id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                <td mat-cell *matCellDef="let inst"> {{inst.id}} </td>
                              </ng-container>
                          
                            
                              <ng-container matColumnDef="Nombre">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                <td mat-cell *matCellDef="let inst"> {{inst.nombre}} </td>
                              </ng-container>
                          
                              <ng-container matColumnDef="Tipo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                                <td mat-cell *matCellDef="let inst"> {{inst.tipo}} </td>
                              </ng-container>
                             
                              <ng-container matColumnDef="Estado">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                                <td mat-cell *matCellDef="let inst"> 
                                  <span [ngClass]="inst.estado==1?'badge bg-success':'badge bg-danger'">{{inst.estado==1?"Activo":"Desactivado"}}</span>
                                  
                                </td>
                              </ng-container>
                              <ng-container matColumnDef="opciones">
                                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                                <td mat-cell *matCellDef="let inst">
                                  <button
                                    (click)=" agregarEditarInstitucion(inst.id)"
                                    class="btn btn-warning"
                                  
                                  >
                                    <i class="fa fa-pen"> </i>
                                  </button>
                                  &nbsp;
                                  <button
                                    (click)="darBajaInstitucion(inst, 0)"
                                    class="btn btn-danger"
                                    *ngIf="inst.estado == 1"
                                  >
                                    <i class="fa fa-trash"> </i>
                                  </button>
                                  <button
                                    (click)="darBajaInstitucion(inst, 1)"
                                    class="btn btn-success"
                                    *ngIf="inst.estado == 0"
                                  >
                                    <i class="fa fa-check"> </i>
                                  </button>
                                </td>
                              </ng-container> 
                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          
                            </table>
                          
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
