<h2 mat-dialog-title>{{ operacion }} Visita</h2>

<form [formGroup]="form" (ngSubmit)="agregarVisita()">
  <mat-dialog-content class="mat-typography">
    <div class="row">
      <div class="column">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input formControlName="nombrePersona" matInput autocomplete="off" />
          </mat-form-field>
        </p>
        <div class="error">
          <span *ngIf="form.get('nombrePersona')?.hasError('required') && form.get('nombrePersona')?.touched">El nombre
            es un campo <strong>Requerido</strong></span>
        </div>
      </div>
      <div class="column">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Apellido</mat-label>
            <input formControlName="apellidoPersona" matInput autocomplete="off" />
          </mat-form-field>
        </p>
        <div class="error">
          <span *ngIf="form.get('apellidoPersona')?.hasError('required') && form.get('apellidoPersona')?.touched">El
            apellido es un campo <strong>Requerido</strong></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>CI</mat-label>
            <input formControlName="ciPersona" matInput autocomplete="off" />
          </mat-form-field>
        </p>
        <div class="error">
          <span *ngIf="form.get('ciPersona')?.hasError('required') && form.get('ciPersona')?.touched">El C.I. es un
            campo <strong>Requerido</strong></span>
          <span *ngIf="form.get('ciPersona')?.hasError('maxlength')">El C.I. debe tener como maximo 11 caracteres</span>
        </div>
      </div>

      <div class="col-4">
        <mat-form-field appearance="fill">
          <mat-label>Tipo</mat-label>
          <mat-select [(ngModel)]="opcionSeleccionada" formControlName="tipo">
            <mat-option *ngFor="let tipo of ListaTipo" [value]="tipo">{{tipo}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="error">
          <span *ngIf="form.get('tipo')?.hasError('required')&& form.get('tipo')?.touched ">El tipo es un campo
            <strong>requerido</strong></span>
        </div>
      </div>

      <div class="col-4">
        <div *ngIf="opcionSeleccionada == 'Recorrido'">
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Edad</mat-label>
              <input formControlName="edadPersona" matInput autocomplete="off" />
            </mat-form-field>
          </p>
          <div class="error">
            <!-- <span *ngIf="form.get('edadPersona')?.hasError('required') && form.get('edadPersona')?.touched">La edad es
              un campo <strong>Requerido</strong></span>
            <span *ngIf="form.get('edadPersona')?.hasError('maxlength')">La edad debe tener como maximo 110 años</span> -->
          </div>
        </div>
      </div>

    </div>



    <div class="row">

      <div class="col-4">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Lugar</mat-label>
            <input formControlName="lugar" matInput autocomplete="off" />
          </mat-form-field>
        </p>
        <div class="error">
          <span *ngIf="form.get('lugar')?.hasError('required') && form.get('lugar')?.touched">El lugar es un campo
            <strong>Requerido</strong></span>
        </div>
      </div>

      <div class="col-4">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Celular</mat-label>
            <input formControlName="celularPersona" matInput autocomplete="off" />
          </mat-form-field>
        </p>
        <div class="error">
          <span *ngIf="form.get('celularPersona')?.hasError('required') && form.get('celularPersona')?.touched">El
            celular es un campo <strong>Requerido</strong></span>
          <span *ngIf="form.get('celularPersona')?.hasError('maxlength')">El celular debe tener como maximo 11
            caracteres</span>
        </div>
      </div>
      <div class="col-4">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput autocomplete="off" />
          </mat-form-field>
        </p>
        <div class="error">
          <span *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">El email es un campo
            <strong>Requerido</strong></span>
          <span *ngIf="form.get('email')?.hasError('email')">Debe ingresar una direccion de email valida</span>
        </div>
      </div>


    </div>
    <div class="row">

      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Institucion</mat-label>
          <mat-select formControlName="InstitucionId">
            <mat-option *ngFor="let Institucion of ListaInstitucion" [value]="Institucion.id">{{Institucion.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Fecha</mat-label>
          <input formControlName="fecha" matInput [matDatepicker]="picker" />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="error">
          <span *ngIf="form.get('fecha')?.hasError('required') && form.get('fecha')?.touched">La fecha es un campo
            <strong>Requerido</strong></span>
        </div>
      </div>


    </div>
    <div class="row">
      <div class="column">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Actividad</mat-label>
            <input formControlName="actividad" matInput autocomplete="off" />
          </mat-form-field>
        </p>
        <div class="error">
          <span *ngIf="form.get('actividad')?.hasError('required') && form.get('actividad')?.touched">La actividad es un
            campo <strong>Requerido</strong></span>
        </div>
      </div>
    </div>
    <div class="row">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Observaciones</mat-label>
          <input formControlName="observaciones" matInput autocomplete="off" />
        </mat-form-field>
      </p>
    </div>

    <div class="row">
    </div>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="submit"  [disabled]="form.invalid"  class="btn btn-info b" mat-button cdkFocusInitial>Aceptar</button>
    <button type="button" class="btn btn-warning c" (click)="cancelar()" mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
</form>


