<!-- FORMULARIO REPORTE -->
<form [formGroup]="form" (ngSubmit)="generarReporte()">
  <div class="colum">
    <mat-form-field appearance="fill">
      <mat-label>Fecha Inicio</mat-label>
      <input formControlName="fechaInicio" matInput [matDatepicker]="picker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="colum">
    <mat-form-field appearance="fill">
      <mat-label>Fecha Final</mat-label>
      <input formControlName="fechaFinal" matInput [matDatepicker]="picker1" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker1"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>
  <mat-dialog-actions align="end">
    <button type="submit" mat-button cdkFocusInitial class="btn btn-success">Enviar</button>
    <button type="button" (click)="cancelar()" mat-button>Cancelar</button>
  </mat-dialog-actions>
</form>
<!--  -->