mat-form-field{
    width: 100%;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
  margin: 0px, 5px;
}
.error{
    color:red;
    margin-top: -10px;
}

.b{
  margin-right: 5px;
  cursor:pointer;
  width: 15%;
}
.c{
  cursor:pointer;
  width: 15%;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #b58900;
  --bs-btn-border-color: #b58900;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #9a7400;
  --bs-btn-hover-border-color: #916e00;
  --bs-btn-focus-shadow-rgb: 192, 155, 38;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #916e00;
  --bs-btn-active-border-color: #886700;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #b58900;
  --bs-btn-disabled-border-color: #b58900;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #839496;
  --bs-btn-border-color: #839496;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6f7e80;
  --bs-btn-hover-border-color: #697678;
  --bs-btn-focus-shadow-rgb: 150, 164, 166;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #697678;
  --bs-btn-active-border-color: #626f71;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #839496;
  --bs-btn-disabled-border-color: #839496;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2aa198;
  --bs-btn-border-color: #2aa198;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #248981;
  --bs-btn-hover-border-color: #22817a;
  --bs-btn-focus-shadow-rgb: 74, 175, 167;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #22817a;
  --bs-btn-active-border-color: #207972;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #2aa198;
  --bs-btn-disabled-border-color: #2aa198;
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #268bd2;
  --bs-btn-border-color: #268bd2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2076b3;
  --bs-btn-hover-border-color: #1e6fa8;
  --bs-btn-focus-shadow-rgb: 71, 156, 217;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1e6fa8;
  --bs-btn-active-border-color: #1d689e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #268bd2;
  --bs-btn-disabled-border-color: #268bd2;
}

.btn-warning {
  --bs-btn-color: #fff;
  --bs-btn-bg: #cb4b16;
  --bs-btn-border-color: #cb4b16;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ad4013;
  --bs-btn-hover-border-color: #a23c12;
  --bs-btn-focus-shadow-rgb: 211, 102, 57;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #a23c12;
  --bs-btn-active-border-color: #983811;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #cb4b16;
  --bs-btn-disabled-border-color: #cb4b16;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #d33682;
  --bs-btn-border-color: #d33682;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b32e6f;
  --bs-btn-hover-border-color: #a92b68;
  --bs-btn-focus-shadow-rgb: 218, 84, 149;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #a92b68;
  --bs-btn-active-border-color: #9e2962;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #d33682;
  --bs-btn-disabled-border-color: #d33682;
}

.btn-light {
  --bs-btn-color: #000;
  --bs-btn-bg: #fdf6e3;
  --bs-btn-border-color: #fdf6e3;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d7d1c1;
  --bs-btn-hover-border-color: #cac5b6;
  --bs-btn-focus-shadow-rgb: 215, 209, 193;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #cac5b6;
  --bs-btn-active-border-color: #beb9aa;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #fdf6e3;
  --bs-btn-disabled-border-color: #fdf6e3;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #073642;
  --bs-btn-border-color: #073642;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2c545e;
  --bs-btn-hover-border-color: #204a55;
  --bs-btn-focus-shadow-rgb: 44, 84, 94;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #395e68;
  --bs-btn-active-border-color: #204a55;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #073642;
  --bs-btn-disabled-border-color: #073642;
}

.btn-outline-primary {
  --bs-btn-color: #b58900;
  --bs-btn-border-color: #b58900;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b58900;
  --bs-btn-hover-border-color: #b58900;
  --bs-btn-focus-shadow-rgb: 181, 137, 0;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b58900;
  --bs-btn-active-border-color: #b58900;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #b58900;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #b58900;
  --bs-gradient: none;
}

.btn-outline-secondary {
  --bs-btn-color: #839496;
  --bs-btn-border-color: #839496;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #839496;
  --bs-btn-hover-border-color: #839496;
  --bs-btn-focus-shadow-rgb: 131, 148, 150;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #839496;
  --bs-btn-active-border-color: #839496;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #839496;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #839496;
  --bs-gradient: none;
}

.btn-outline-success {
  --bs-btn-color: #2aa198;
  --bs-btn-border-color: #2aa198;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2aa198;
  --bs-btn-hover-border-color: #2aa198;
  --bs-btn-focus-shadow-rgb: 42, 161, 152;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2aa198;
  --bs-btn-active-border-color: #2aa198;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #2aa198;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #2aa198;
  --bs-gradient: none;
}

.btn-outline-info {
  --bs-btn-color: #268bd2;
  --bs-btn-border-color: #268bd2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #268bd2;
  --bs-btn-hover-border-color: #268bd2;
  --bs-btn-focus-shadow-rgb: 38, 139, 210;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #268bd2;
  --bs-btn-active-border-color: #268bd2;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #268bd2;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #268bd2;
  --bs-gradient: none;
}

.btn-outline-warning {
  --bs-btn-color: #cb4b16;
  --bs-btn-border-color: #cb4b16;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #cb4b16;
  --bs-btn-hover-border-color: #cb4b16;
  --bs-btn-focus-shadow-rgb: 203, 75, 22;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #cb4b16;
  --bs-btn-active-border-color: #cb4b16;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #cb4b16;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #cb4b16;
  --bs-gradient: none;
}

.btn-outline-danger {
  --bs-btn-color: #d33682;
  --bs-btn-border-color: #d33682;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d33682;
  --bs-btn-hover-border-color: #d33682;
  --bs-btn-focus-shadow-rgb: 211, 54, 130;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #d33682;
  --bs-btn-active-border-color: #d33682;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #d33682;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #d33682;
  --bs-gradient: none;
}

.btn-outline-light {
  --bs-btn-color: #fdf6e3;
  --bs-btn-border-color: #fdf6e3;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fdf6e3;
  --bs-btn-hover-border-color: #fdf6e3;
  --bs-btn-focus-shadow-rgb: 253, 246, 227;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #fdf6e3;
  --bs-btn-active-border-color: #fdf6e3;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fdf6e3;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #fdf6e3;
  --bs-gradient: none;
}

.btn-outline-dark {
  --bs-btn-color: #073642;
  --bs-btn-border-color: #073642;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #073642;
  --bs-btn-hover-border-color: #073642;
  --bs-btn-focus-shadow-rgb: 7, 54, 66;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #073642;
  --bs-btn-active-border-color: #073642;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #073642;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #073642;
  --bs-gradient: none;
}

.btn-link {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-link-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--bs-link-hover-color);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: var(--bs-link-hover-color);
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-color: #839496;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-box-shadow: none;
  --bs-btn-focus-shadow-rgb: 192, 155, 38;
  text-decoration: underline;
}
.btn-link:focus-visible {
  color: var(--bs-btn-color);
}
.btn-link:hover {
  color: var(--bs-btn-hover-color);
}

.btn-lg, .btn-group-lg > .btn {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.25rem;
  --bs-btn-border-radius: 0.5rem;
}

.btn-sm, .btn-group-sm > .btn {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: 0.25rem;
}

.fade {
  transition: opacity 0.15s linear;
}