
aside{
  background-image: linear-gradient(to right, #00b4db, #0083b0);
}

.logo
{
    margin-top: 30px;
    background-color: #ffff;
    width: 80%;
    border-radius: 100%;
    margin-bottom: 40px;
}
.cea{
    margin-top: 15px;
    text-align: center;
    color: white;
    text-decoration:none;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
